<h1>New Theater</h1>

<%= form_tag("/theaters") do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, "", size: 80 %>
  </div>

    <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address, "", size: 80 %>
  </div>


  <div>
    <%= submit_tag "Create Theater" %>
  </div>
<% end %>
