<!DOCTYPE html>
<html>
<head>
  <title>MoviesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>NU Movie Database</h1>
    <nav>
      <%= link_to "Movies", '/movies' %>
      <%= link_to "Theaters", '/theaters' %>
    </nav>
  </header>


  <%= yield %>

</body>
</html>
