<h1>Edit Movie</h1>


<%= form_tag "/movies/#{@movie.id}", method: 'put' do %>
  <p>
    <%= label_tag :title, "Movie Title" %>
    <%= text_field_tag :title, @movie.title, size: 80, placeholder: "Enter a movie title here..." %>
  </p>
  <p>
    <%= label_tag :year, "Year" %>
    <%= text_field_tag :year, @movie.year, size: 4 %>
  </p>
  <%= submit_tag "Wazzzup" %>

<% end %>
